# Environment variables for CENSO-API-PUBLICO application
APP_NAME=CENSO-API-PUBLICO
PORT=3002
NODE_ENV=development

# Logging Configuration
LOG_LEVEL=debug
APP_LOG_DIR=src/storage/logs
APP_LOG_MAX_SIZE=20m
APP_LOG_MAX_FILES=14d
APP_ERROR_LOG_MAX_FILES=30d

# Database Configuration
DB_BASE_HOST=20.20.20.40
DB_BASE_PORT=5482
DB_BASE_USERNAME=BASE
DB_BASE_PASSWORD=BASE
DB_BASE_DATABASE=BASE
DB_BASE_SCHEMA=BASE
DB_BASE_SYNCHRONIZE=false
DB_BASE_LOGGING=false

# Auth API Configuration
AUTH_API_URL=https://apie11.btc.com.ve/
BASE_CLIENT_ID=f57bf8dc-0448-4ce8-87b5-bf01d3eae612
BASE_CLIENT_SECRET=NGBub1o2zHmDlc38c8vGOEvZEEslFU93oOQzy9r7