APP_PORT=4000
NODE_ENV=development
APP_HOST=localhost

## MAIN DATABASE
DB_NAME=main
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=tymon
DB_SCHEMA=public
DB_LOGGING=false
DB_SYNCHRONIZE=false

#AUTH DATABASE
AUTH_DB_NAME=auth
AUTH_DB_TYPE=postgres
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=123
AUTH_DB_DATABASE=auth
AUTH_DB_SCHEMA=public
AUTH_DB_LOGGING=false
AUTH_DB_SYNCHRONIZE=false

#NOTIFICATION DATABASE
NOTIFICATION_DB_NAME=notification
NOTIFICATION_DB_TYPE=postgres
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=5433
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=123
NOTIFICATION_DB_DATABASE=notification
NOTIFICATION_DB_SCHEMA=public
NOTIFICATION_DB_LOGGING=false
NOTIFICATION_DB_SYNCHRONIZE=false

#NOTIFICATION (SMTP)
NOTIFICATION_SMTP_HOST=smtp.yourhost.com
NOTIFICATION_SMTP_PORT=587
NOTIFICATION_SMTP_USER=user
NOTIFICATION_SMTP_PASS=pass
NOTIFICATION_SMTP_SECURE=false
NOTIFICATION_SMTP_FROM=no-reply@yourhost.com

#LOGS
LOG_LEVEL=info
APP_LOG_DIR=src/storage/logs
APP_ZIP_DIR=src/storage/logs/compressed
APP_AUDIT_DIR=src/storage/logs/audit
APP_LOG_ZIP=true
APP_LOG_MAX_SIZE=10m